<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Steelbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <!--<link rel="stylesheet" href="../static/css/steelbook_styles.css" th:href="@{steelbook_styles.css}"> -->  
    <style>
               
        h2{text-align: center;}
		#navigation{float:right;
		}
        label{
			font-weight: bold;
		}
	.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
label {
  color: #1abc9c; 
}
textarea{
	border-radius: 25px;
  border: 2px solid #1abc9c;
  padding: 20px;
  width: 400px;
  height: 150px;
}
    </style>
</head>

<body>
		<div class="header">
			
				  	<div id="navigation">
					 <a href="/" id="nav" class="btn btn-primary"><i
                        class="fas fa-home ml-2"> Home</i>
                        </a>
                        <a href="/showForm" id="nav" class="btn btn-primary"><i
                        class="fas fa-plus ml-2">Add Steelbook</i>
                        </a>  
                         <a href="/steelbooks" class="btn btn-primary"><i
                        class="fas fa-film ml-2">View Steelbooks</i>
                        </a>
						</div>
</div>
    <div class="container my-5">
       
        <div class="card">
            <div class="card-body">

									 <h3>Steelbook Details</h3>
				<div class="col-md-8">
					<div class="row">
                    	<div class="form-group col-md-6">
							<label for="title" class="col-form-label">Title</label> 
							<p th:text="${steelbook.title}">test</p>
							<label for="title" class="col-form-label">Genre</label>
							<p th:text="${steelbook.genre}">test</p>
							<label for="title" class="col-form-label">Price</label>
							<p th:text="${steelbook.price}">test</p>
							<label for="title" class="col-form-label">Release Year</label>
							<p th:text="${steelbook.release_year}">test</p>
							<label for="title" class="col-form-label">Director</label>			
							<p th:text="${steelbook.director}">test</p>
				
							<img th:src="${steelbook.photo_url}">
						</div>
						
						<div class="form-group col-md-6">
							<label for="title" class="col-form-label">Critic Score</label>			
							<p th:text="${steelbook.critic_score}">test</p>

								<label for="title" class="col-form-label">Audience Score</label>			
							<p th:text="${steelbook.audience_score}">test</p>

								<label for="title" class="col-form-label">Runtime</label>			
							<p th:text="${steelbook.runtime}">test</p>

								<label for="title" class="col-form-label">Movie Rating</label>			
							<p th:text="${steelbook.movie_rating}">test</p>

								<label for="title" class="col-form-label">Movie Description</label>			
							<textarea th:text="${steelbook.description}" rows="4" cols="50"></textarea>
					
        				</div>
	</div>
	</div>
	</div>
	</div>
	</div>
  

</body>

</html>